bin/
debug/
deploy/yacloud/conf.json
!deploy/yacloud/conf.json.template
devtools/dashboards/importer.yml
!devtools/dashboards/importer.yml.template
tmp/
.vscode/
.DS_Store
.env*
!.env.template
.iterm
load-test.yaml