__pycache__/
.DS_Store
.iterm
.vscode/

bin/
debug/
deploy/vm/conf.json
!deploy/vm/conf.json.template
devtools/dashboards/importer.yml
!devtools/dashboards/importer.yml.template
devtools/perf/cpu.txt
devtools/perf/flame.svg
tmp/

load-test.yaml*
!load-test.yaml*template
docker-compose.yaml*
!docker-compose.yaml*template
.env*
!.env.template

*.log
sim.out
metrics.json
r
