.vscode/
.DS_Store
.iterm

bin/
debug/
deploy/yacloud/conf.json
!deploy/yacloud/conf.json.template
devtools/dashboards/importer.yml
!devtools/dashboards/importer.yml.template
devtools/perf/flame.svg
tmp/

load-test.yaml*
!load-test.yaml*template
.env*
!.env.template

sim.out
metrics.json
r
